/************************************************************
    GENERAL 
*************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
body{
    background-image: url("../img/background.svg");
    background-size: cover;
    height: 100vh;
}

/************************************************************
    LAYOUT 
*************************************************************/
.container {
    max-width: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
}

/* APP HEADER */
.app-header{
    margin: 30px 0;
    text-align: center;
}

.app-header img {
    max-width: 300px;
}

/************************************************************
    TODO LIST 
*************************************************************/
.new-todo {
    display: flex;
}

/* Input */
.new-todo input,
.new-todo button {
    height: 35px;
    border: 0;
    outline: none;
}

.new-todo input {
    flex-grow: 1;
    padding-left: 30px;
    margin-right: 20px;
    border-bottom: 1px solid #f2a03d;
    transition: border 0.3s;
}

.new-todo input:hover,
.new-todo input:focus {
    border-color: #0c7be8
}

.new-todo button {
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 12px;
    background: #f2a03d;
    cursor: pointer;
    border-radius: 3px;
    transition: background 0.3s;
}

.new-todo button:hover,
.new-todo button:focus {
    background: #0c7be8;
}

/* TODO */
.todos-container {
    margin: 40px 0;
    padding: 15px 30px;
    background:#f2f2f2;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2) ;
}

.todos-container h2{
    color: #f2a03d;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.todo:last-child {
    border-bottom: none;
}


/* TODO COMPLETED */
.todo .text.completed {
    text-decoration: line-through;
}

.todo .text {
    position: relative;
    max-width: 90%;
    word-wrap: break-word;
}