<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap" rel="stylesheet"> 

    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>

    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- STYLE -->
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div id="app" class="container">
        
        <!-- HEADER -->
        <header class="app-header">
            <img src="./img/logo.png" alt="DVC">
        </header>

        <!-- INSERT NEW TODO -->
        <section class="new-todo">
            <input 
                type="text"
                placeholder="Nuova attività"
                v-model.trim="newTodo"
                @keyup.enter="addTodo"
                ref="todoInput"
            />
            <button @click="addTodo">Aggiungi</button>
        </section>

        <!-- TODO LIST -->
        <section class="todos-container">
            <ul v-if="todos.length > 0">
                <!-- todo -->
                <li class="todo" v-for="(todo, index) in todos">
                    <!-- todo text -->
                    <span class="text"
                        :class="{completed: todo.completed}"
                        @click="updateStatus(index)"
                    >
                        {{ todo.text }}
                    </span>
                    <!-- remove todo -->
                    <i class="fas fa-times"
                        @click="removeTodo(index)"
                    ></i>
                </li>
            </ul>

            <!-- NO TODO -->
            <h2 v-else>Non ci sono attività da fare</h2> 
        </section>
    </div>
    
    <!-- JS -->
    <script src="./js/main.js"></script>
</body>
</html>